.img {
  &_footer {
    width: 100px;
    height: 100px;
    background-size: cover;

    &_exit {
      background-image: url("../shared/assets/image/exit.png");
      position: relative;
      left: 80%;

      &:hover {
        cursor: pointer;
      }
    }

    &_home {
      background-image: url("../shared/assets/image/home.png");


      &:hover {
        cursor: pointer;
      }
    }
  }
}