.logo__bar {

  width: 250px;
  height: 250px;
  background-size: cover;
  background-image: url("../shared/assets/image/logo.png");

  &:hover {
    cursor: pointer;
  }
  &_header {

  }
  &_bar-header{
    background-position: top;
  }
}

.bar-graphe {
  &__name {
    padding: 5px 10px;
    background-color: blue;
  }
}